@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="card">
    <div class="card-body">
        <h5 class="card-title">TimeTableWeb Application</h5>
        <p class="card-text">
            What you are looking at is a basic <i>Hello World like</i> application created by Marcin Kolenda at 22.08.2022 in ASP .NET Core.
            The purpose of it is to display table with time for few timezones.
        </p>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th scope="col">time zone</th>
            <th scope="col">time</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">UTC</th>
            <td>put timestamp here</td>
        </tr>
    </tbody>
</table>

@{
    string? APPSETTING1 = System.Environment.GetEnvironmentVariable("APPSETTING1");
}
@if (APPSETTING1 is not null)
{
    <div class="card">
        <div class="card-body">
            <p>Environment variable APPSETTING1 is set to @APPSETTING1</p>
        </div>
    </div>
}
else 
{
    <div class="card">
        <div class="card-body">
            <p>Environment variable APPSETTING1 is not set.</p>
        </div>
    </div>
}

